* {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

    body{
        font-family: 'Roboto', sans-serif;
    }
    
    .box{
        background-color: #f8f7f7;
        height: 5rem;
        width: 5rem;
        margin: .2rem;  
    }
    
    .my-blue{
        background-color: 	#0000ff;
    }
    
    .my-green{
        background-color:  #00b03b;
    }
    
    .my-pink{
        background-color: #faa4bb;
    }
    